<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.stefanteitge.mtmx.workbench.ui.Perspective"
            icon="icons/wrench.png"
            id="de.stefanteitge.mtmx.workbench.ui.Perspective"
            name="mtmX">
      </perspective>
   </extension>
      <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="jtrfp.common.pod.PodFile"
            class="de.stefanteitge.mtmx.workbench.ui.adapter.PodFileAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="jtrfp.common.kfm.IKfmPodFileEntry"
            class="de.stefanteitge.mtmx.workbench.ui.adapter.KfmPodFileEntryAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="jtrfp.common.lvl.ILvlPodFileEntry"
            class="de.stefanteitge.mtmx.workbench.ui.adapter.LvlPodFileEntryAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="jtrfp.common.tex.ITexPodFileEntry"
            class="de.stefanteitge.mtmx.workbench.ui.adapter.TexPodFileEntryAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="jtrfp.common.raw.IRawPodFileEntry"
            class="de.stefanteitge.mtmx.workbench.ui.adapter.RawPodFileEntryAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="de.stefanteitge.mtmx.workbench.ui.MtmxViewCategory"
            class="de.stefanteitge.mtmx.workbench.ui.internal.view.GameExplorerView"
            icon="icons/world.png"
            id="de.stefanteitge.mtmx.workbench.ui.GameExplorerView"
            name="Game Explorer"
            restorable="true">
      </view>
      <view
            category="de.stefanteitge.mtmx.workbench.ui.MtmxViewCategory"
            class="de.stefanteitge.mtmx.workbench.ui.internal.view.MediaView"
            icon="icons/image.png"
            id="de.stefanteitge.mtmx.workbench.ui.MediaView"
            name="Media"
            restorable="true">
      </view>
      <view
            category="de.stefanteitge.mtmx.workbench.ui.MtmxViewCategory"
            class="de.stefanteitge.mtmx.workbench.ui.internal.view.PodFileView"
            icon="icons/brick.png"
            id="de.stefanteitge.mtmx.workbench.ui.PodFileView"
            name="POD File Explorer"
            restorable="true">
      </view>
      <category
            id="de.stefanteitge.mtmx.workbench.ui.MtmxViewCategory"
            name="mtmX">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="de.stefanteitge.mtmx.workbench.ui.Perspective">
         <viewShortcut
               id="de.stefanteitge.mtmx.workbench.ui.GameExplorerView">
         </viewShortcut>
         <viewShortcut
               id="de.stefanteitge.mtmx.workbench.ui.MediaView">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="de.stefanteitge.mtmx.workbench.ui.GameExplorerViewContribution"
            targetID="de.stefanteitge.mtmx.workbench.ui.GameExplorerView">
         <action
               class="de.stefanteitge.mtmx.workbench.ui.internal.actions.ExtractContentsActionDelegate"
               enablesFor="+"
               icon="icons/brick_go.png"
               id="de.stefanteitge.mtmx.workbench.ui.ExtractContentsAction"
               label="Extract Contents"
               style="push"
               toolbarPath="additions">
            <enablement>
               <objectClass
                     name="jtrfp.common.pod.PodFile">
               </objectClass>
            </enablement>
         </action>
         <action
               class="de.stefanteitge.mtmx.workbench.ui.internal.actions.LaunchGameAction"
               enablesFor="1"
               icon="icons/application_go.png"
               id="de.stefanteitge.mtmx.workbench.ui.LaunchGameAction"
               label="Launch Game"
               style="push"
               toolbarPath="additions">
            <enablement>
               <objectClass
                     name="jtrfp.game.ITriGameDir">
               </objectClass>
            </enablement>
         </action>
      </viewContribution>
      <viewContribution
            id="de.stefanteitge.mtmx.workbench.ui.PodFileViewContribution"
            targetID="de.stefanteitge.mtmx.workbench.ui.PodFileView">
         <action
               class="de.stefanteitge.mtmx.workbench.ui.internal.actions.LaunchViewerActionDelegate"
               enablesFor="1"
               icon="icons/application_go.png"
               id="de.stefanteitge.mtmx.workbench.ui.ViewerAction"
               label="Show with Viewer"
               style="push"
               toolbarPath="additions">
            <enablement>
               <objectClass
                     name="jtrfp.common.pod.IPodFileEntry">
               </objectClass>
            </enablement>
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.stefanteitge.mtmx.workbench.ui.internal.prefs.GamePreferencePage"
            id="de.stefanteitge.mtmx.workbench.ui.GamePreferencePage"
            name="mtmX">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.stefanteitge.mtmx.workbench.ui.internal.prefs.GamePreferenceInitializer">
      </initializer>
   </extension>

</plugin>
